#container {
  width: 80%;
  height: 400px;
  margin: 20px auto;
}

#container.light {
  background-color: #efefef;
}

#container.dark {
  background-color: #303030;
}

#container.filling {
  background-image: url('../assets/images/srcube.png');
  background-repeat: no-repeat;
}